<div id="main-container">


<app-header [title]="title"></app-header>
<div style="display: flex; justify-content: center">
  <a [routerLink]="['/facility/create']" class="button-gradient button-gradient-4" style="border: none;">Create Service</a>
</div>
<section class="text-center mb-4 container">
  <div class="row wow fadeIn">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let facility of facilities">
      <div class="card">

        <div class="view overlay">
          <img
            src="{{facility.serviceImage}}"
            class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="" class="grey-text">
            <h5>{{facility.serviceName}}</h5>
          </a>
          <h5>
            <strong>
              <small>Diện tích phòng: {{facility.serviceArea}} m<sup>2</sup></small>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>{{facility.serviceCost}}$</strong>
          </h4>
          <br>
          <div class="button-block">
            <div class="table-remove button-action">
              <a [routerLink]="['/facility/edit',facility.id]" class="button-gradient button-gradient-1">Edit</a>
              <a (click)="onOpenEditModal(facility)" class="button-gradient button-gradient-5">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

  <!--Modal Delete-->
  <div
    class="modal fade"
    id="deleteModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Xóa khách hàng </h5>
          <button style="border: none; background-color: transparent" type="button" class="btn-close"
                  data-dismiss="modal" aria-label="Close">X
          </button>
        </div>
        <div class="modal-body" id="customer_delete">
          <div class="modal-body">
            <div *ngIf="check">
              <p>Bạn có muốn xóa khách hàng : {{deleteFacility.serviceName}}</p> <br>
              <p>Khách hàng có mã là : {{deleteFacility.serviceCode}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button (click)="delete(closeModal)" type="button" class="btn btn-danger" id="delete_customer_id">Xóa</button>
        </div>
      </div>
    </div>
  </div>

</div>
