<!--Header-->
<header>
  <div class="container">
    <div class="menu-bar-content">
      <ul>
        <li class="logo"><a href="#">
          <img src="assets/img/LOGO5.png" alt="">
        </a></li>
        <li><input style="width: 300px" class="header-search" readonly placeholder="Bạn cần tìm gì?" type="text"><i
          class="fa fa-search"></i></li>
        <li>
          <div class="header-item header-item-menu">
            <div class="header-icon">
              <i class="fa-solid fa-align-left"> </i>
            </div>
            <div class="header-text">
              <strong>Menu </strong> <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Quản lý thông tin cá nhân</a></li>
              <li><a href="#">Quản lý nhân viên</a></li>
              <li><a href="#">Quản lý kinh doanh</a></li>
              <li><a href="#">Quản lý báo cáo</a></li>
              <li><a href="#">Xem thông tin hàng hóa</a></li>
              <li><a href="#">Quản lý nhà cung cấp</a></li>
              <li><a href="#">Quản lý bán hàng</a></li>
              <li><a href="#">Quản lý xuất nhập kho</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="header-item">
            <div class="header-icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="header-text">
              <span>Gọi mua hàng</span><br>
              <span><strong>1800.1008</strong></span>
            </div>
          </div>
        </li>
        <li>
          <div class="header-item">
            <div class="header-icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="header-text">
              <span>Cửa hàng</span><br>
              <span>gần bạn</span>
            </div>
          </div>
        </li>
        <li>
          <div class="header-item">
            <div class="header-icon">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="header-text">
              <span>Tra cứu</span><br>
              <span>đơn hàng</span>
            </div>
          </div>
        </li>
        <li class="header-item-login"><a href="#">Đăng nhập</a></li>
      </ul>
    </div>
  </div>
</header>
