<!--<h3>Create Contract</h3>-->
<div class="form" style="margin-top: 30px">
  <div id="form">
    <form action="#"
          method="POST" novalidate="novalidate">
      <!--                <input type="hidden" name="id">-->
      <br>
      <div>
        <label>Contract Start Date</label>
        <input name="contractStartDate" type="date"/>
      </div>
      <br>
      <div>
        <label>Contract End Date</label>
        <input name="contractEndDate" type="date"/>
      </div>
      <br>
      <div>
        <label>Contract Deposit</label>
        <input name="contractDeposit" type="text" />
      </div>
      <div>
        <label>Contract Total Money</label>
        <input name="contractTotalMoney" type="text">
      </div>
      <br>
      <div>
        <label>Customer Code</label>
        <select name="customerCode">
          <option value="1">KH-0001</option>
          <option value="2">KH-0002</option>
          <option value="3">KH-0003</option>
        </select>
      </div>
      <br>
      <div>
        <label>Employee Code</label>
        <select name="employeeCode">
          <option value="1">NV-0001</option>
          <option value="2">NV-0002</option>
          <option value="3">NV-0003</option>
        </select>
      </div>
      <br>
      <div>
        <label>Service Name</label>
        <select name="customerCode">
          <option value="1">White House</option>
          <option value="2">Green Villa</option>
          <option value="3">Sea Villa</option>
        </select>
      </div>
      <br>
      <div class="button-submit__group">
        <input class="button-submit" type="submit" value="Save"/>
        <a class="button-cancel" href="#">Cancel</a>
      </div>
    </form>
  </div>
</div>
