<!--<h3>Create Customer</h3>-->
<div class="form" style="margin-top: 30px">
  <div id="form">
    <form action="#"
          method="POST" novalidate="novalidate">
      <!--                <input type="hidden" name="id">-->
      <div>
        <label>Customer Code</label>
        <input name="customerCode" type="text"/>
      </div>
      <div>
        <label>Customer Name</label>
        <input name="customerName" type="text"/>
      </div>
      <br>
      <div>
        <label>Customer Birthday</label>
        <input name="customerBirthday" type="date" />
      </div>
      <br>
      <div>
        <label>Customer Id-Card</label>
        <input name="customerIdCard" type="text">
      </div>
      <div>
        <label>Customer Phone</label>
        <input type="text" name="customerPhone">
      </div>
      <div>
        <label>Customer Email</label>
        <input type="text" name="customerEmail">
      </div>
      <div>
        <label>Customer Address</label>
        <input type="text" name="customerAddress">
      </div>
      <br>
      <div>
        <label>Customer Gender</label>
        <select name="customerGender">
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div>
      <br>
      <div>
        <label>Customer Type</label>
        <select name="customerType">
          <option value="diamond">Diamond</option>
          <option value="platinum">Platinum</option>
          <option value="gold">Gold</option>
          <option value="member">Member</option>
        </select>
      </div>
      <br>
      <div class="button-submit__group">
        <input class="button-submit" type="submit" value="Save"/>
        <a class="button-cancel" href="#">Cancel</a>
      </div>
    </form>
  </div>
</div>
