.submit-block {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 30px;
}

.submit-form {
  display: flex;
  justify-content: center;
}

input select {
  padding: 15px;
}
