<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<head th:replace="/layout::header"></head>

<div class="body">
    <h3>Create Employee</h3>
    <div class="form">
        <div id="form">
            <form th:action="@{/employee/save}" th:object="${employeeDto}"
                  method="POST" novalidate="novalidate">
<!--                <input type="hidden" th:field="*{employeeId}"/>-->
<!--                <input type="hidden" th:field="*{active}"/>-->
                <div>
                    <label>Employee Name</label>
                    <input type="text" th:field="*{employeeName}"/>
                    <small style="color: red" th:errors="*{employeeName}"></small>
                </div>
                <br>
                <div>
                    <label>Employee Birthday</label>
                    <input type="date" th:field="*{employeeBirthday}"/>
                    <small style="color: red" th:errors="*{employeeBirthday}"></small>
                </div>
                <br>
                <div>
                    <label>Employee Id-Card</label>
                    <input type="text" th:field="*{employeeIdCard}">
                    <small style="color: red" th:errors="*{employeeIdCard}"></small>
                </div>
                <div>
                    <label>Employee Salary</label>
                    <input type="text" th:field="*{employeeSalary}">
                    <small style="color: red" th:errors="*{employeeSalary}"></small>
                </div>
                <div>
                    <label>Employee Phone</label>
                    <input type="text" th:field="*{employeePhone}">
                    <small style="color: red" th:errors="*{employeePhone}"></small>
                </div>
                <div>
                    <label>Employee Email</label>
                    <input type="text" th:field="*{employeeEmail}">
                    <small style="color: red" th:errors="*{employeeEmail}"></small>
                </div>
                <div>
                    <label>Employee Address</label>
                    <input type="text" th:field="*{employeeAddress}">
                    <small style="color: red" th:errors="*{employeeAddress}"></small>
                </div>
                <br>
                <div>
                    <label>Education Degree</label>
                    <select th:field="*{educationDegree}">
                        <option th:each="education : ${educations}"
                                th:value="${education.educationDegreeId}"
                                th:text="${education.educationDegreeName}"></option>
                    </select>
                </div>
                <br>
                <div>
                    <label>Division</label>
                    <select th:field="*{division}">
                        <option th:each="division : ${divisions}"
                                th:value="${division.divisionId}"
                                th:text="${division.divisionName}"></option>
                    </select>
                </div>
                <br>
                <div>
                    <label>Position</label>
                    <select th:field="*{position}">
                        <option th:each="position : ${positions}"
                                th:value="${position.positionId}"
                                th:text="${position.positionName}"></option>
                    </select>
                </div>
                <br>
                <div>
                    <label>User Name</label>
                    <input type="text" th:field="*{user.userName}">
                </div>
                <div>
                    <label>Password</label>
                    <input type="text" th:field="*{user.password}">
                </div>
                <div class="button-submit__group">
                    <input class="button-submit" type="submit" value="Save"/>
                    <a class="button-cancel" th:href="@{/employee/list}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/layout::footer"></footer>
</body>
</html>