<footer>
  <div class="container">
    <div class="row footer-top">
      <div class="col-2">
        <h5 class="footer-header">Địa chỉ cửa hàng</h5>
        <ul class="footer-list">
          <li class="footer-item"><a href="#">Quận Liên Chiểu, Đà Nẵng</a></li>
          <li class="footer-item"><a href="#">Quận Hải Châu, Đà Nẵng</a></li>
          <li class="footer-item"><a href="#">Quận Cẩm Lệ, Đà Nẵng</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5 class="footer-header">Chăm sóc khách hàng</h5>
        <ul class="footer-list">
          <li class="footer-item"><a href="#">Trung tâm trợ giúp</a></li>
          <li class="footer-item"><a href="#">Hướng Dẫn Mua Hàng</a></li>
          <li class="footer-item"><a href="#">Hướng Dẫn Bán Hàng</a></li>
          <li class="footer-item"><a href="#">Trả Hàng & Hoàn Tiền</a></li>
          <li class="footer-item"><a href="#">Chăm Sóc Khách Hàng</a></li>
          <li class="footer-item"><a href="#">Chính Sách Bảo Hành</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5 class="footer-header">Về C11SHOP</h5>
        <ul class="footer-list">
          <li class="footer-item"><a href="#">Giới Thiệu Về C11Shop</a></li>
          <li class="footer-item"><a href="#">Tuyển Dụng</a></li>
          <li class="footer-item"><a href="#">Điều Khoản C11Shop</a></li>
          <li class="footer-item"><a href="#">Chính Hãng</a></li>
          <li class="footer-item"><a href="#">Kênh Người Bán</a></li>
          <li class="footer-item"><a href="#">Chương Trình Tiếp Thị Liên Kết C11Shop</a></li>
          <li class="footer-item"><a href="#">Liên Hệ Với Truyền Thông</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5 class="footer-header">Theo dõi chúng tôi</h5>
        <ul class="footer-list">
          <li class="footer-item"><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
          <li class="footer-item"><a href="#"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
          <li class="footer-item"><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
          <li class="footer-item"><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
        </ul>
      </div>
      <div class="col-2">
        <h5 class="footer-header ">Hình thức thanh toán</h5>
        <ul class="footer-list footer-list-payment">
          <li class="footer-item">
            <img src="assets/img/thanh-toan-1.png" alt="">
            <img src="assets/img/thanh-toan-2.png" alt="">
          </li>
          <li class="footer-item">
            <img src="assets/img/thanh-toan-3.png" alt="">
            <img src="assets/img/thanh-toan-4.png" alt="">
          </li>
          <li class="footer-item">
            <img src="assets/img/thanh-toan-5.png" alt="">
            <img src="assets/img/thanh-toan-6.png" alt="">
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h5 class="footer-header">Hình thức vận chuyển</h5>
        <ul class="footer-list footer-list-transport">
          <li class="footer-item">
            <img src="assets/img/van-chuyen-1.jpg" alt="">
            <img src="assets/img/van-chuyen-2.jpg" alt="">
          </li>
          <li class="footer-item">
            <img src="assets/img/logo-bct.png" alt="">
          </li>
        </ul>
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-12">
        © 2022. Công ty cổ phần C121G1. GPDKKD: 123456789 do sở KH & ĐT TP.Đà Nẵng cấp ngày
        02/01/2022. GPMXH: 123/GP-ABCDE do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2022.
        Địa chỉ: Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng. Điện thoại: 0123456789. Email:
        c1121g1@codegym.com. Chịu trách nhiệm nội dung: Huỳnh Văn A.
      </div>
    </div>
  </div>
</footer>
