<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<h3>Search Products</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div class="search">
    <form th:action="@{/product/search}" method="post">
        <input type="text" name="search" id="search" size="50px">
        <input type="submit" value="Search By Name">
    </form>
</div>
<table id = "products">
    <thead>
    <tr>
        <th>STT</th>
<!--        <th>ID</th>-->
        <th>Name</th>
        <th>Price</th>
        <th>description</th>
        <th>manufacturer</th>
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,loop : ${productList}">
        <td th:text="${loop.count}"></td>
<!--        <td th:text="${product.id}"></td>-->
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.manufacturer}"></td>
<!--        <td><a th:href="@{/product/{id}/edit(id=${product.id})}">edit</a></td>-->
<!--        <td><a th:href="@{/product/{id}/delete(id=${product.id})}">delete</a></td>-->
        <td><a th:href="@{/product/{id}/view(id=${product.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>