<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnamese</a> <br> <br>
<h1 th:text="#{edit.title}">Edit customer</h1>
<p>
    <a href="/customers" th:text="#{edit.return_list}">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{edit.first_name}">First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{edit.last_name}">Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{edit.submit}"></td>
        </tr>
    </table>
</form>
</body>
</html>
