<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header-top"><a class="header-logo" [routerLink]="['']">Furama</a>
        <ul class="header-menu">
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['']">Home</a></li>
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['/facility/list']">Service</a></li>
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['/customer/list']">Customer</a></li>
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['/contract/list']">Contract</a></li>
          <li class="header-menu-item"><a class="header-menu-icon" href="#"><i class="fa fa-shopping-cart"></i></a></li>
          <li class="header-menu-item"><a class="header-menu-icon" href="#"><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
      <div class="header-content">
        <h2 class="header-content-caption">{{title}}</h2>
      </div>
    </div>
  </header>
</div>
