<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header-top"><a class="header-logo" href="index.html">Furama</a>
        <ul class="header-menu">
          <li class="header-menu-item"><a class="header-menu-link" href="#">Home</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="#">Service</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="#">Employee</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="#">Customer</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="#">Contract</a></li>
          <li class="header-menu-item"><a class="header-menu-icon" href="#"><i class="fa fa-shopping-cart"></i></a></li>
          <li class="header-menu-item"><a class="header-menu-icon" href="#"><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
      <div class="header-content">
        <h2 class="header-content-caption">Hello Everybody</h2>
        <h1 class="header-content-main">Welcome to Furama</h1>
      </div>
    </div>
  </header>
