<!--<h3>List Customer</h3>-->
<table id="products" style="margin-top: 30px">
  <thead>
  <tr>
    <th>STT</th>
    <th>Customer Name</th>
    <th>Customer Birthday</th>
    <th>Customer Id Card</th>
    <th>Customer Phone</th>
    <th>Customer Email</th>
    <th>Customer Address</th>
    <th>Customer Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Lê Văn Chiến</td>
    <td>26/08/1997</td>
    <td>31411534</td>
    <td>0708313527</td>
    <td>chienle26@gmail.com</td>
    <td>Đà Nẵng</td>
    <td>Diamond</td>
    <td><a href="#">Edit</a></td>
    <td>
      <a data-toggle="modal"
         href="#exampleModal" data-id="1"
         data-name="Lê Văn Chiến"
         onclick="getID($(this))">
        Delete
      </a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Nguyễn Thị Anh Đào</td>
    <td>18/02/1997</td>
    <td>31411534</td>
    <td>0708313527</td>
    <td>chienle26@gmail.com</td>
    <td>Đà Nẵng</td>
    <td>Diamond</td>
    <td><a href="#">Edit</a></td>
    <td>
      <a data-toggle="modal"
         href="#exampleModal" data-id="2"
         data-name="Nguyễn Thị Anh Đào"
         onclick="getID($(this))">
        Delete
      </a>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Phan Anh Tuấn</td>
    <td>26/08/1997</td>
    <td>31411534</td>
    <td>0708313527</td>
    <td>chienle26@gmail.com</td>
    <td>Daklak</td>
    <td>Diamond</td>
    <td><a href="#">Edit</a></td>
    <td>
      <a data-toggle="modal"
         href="#exampleModal" data-id="3"
         data-name="Phan Anh Tuấn"
         onclick="getID($(this))">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div class="paging">
  <a
    href="#">Previous</a>
  <span>1</span> /
  <span>1</span>
  <a
    href="#">Next</a>
</div>
<!--   Modal delete-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" action="#">
        <input type="hidden" name="idDelete" id="modalDelete">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to delete the customer <span class="text-danger" id="deleteName"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function getID(a) {
    let id = a.attr('data-id')
    let name = a.attr('data-name')
    document.getElementById('modalDelete').value = id;
    document.getElementById("deleteName").innerText = name;
  }
</script>
