<!--<h3>Edit Service</h3>-->
<div class="form" style="margin-top: 30px">
  <div id="form">
    <form action="#"
          method="POST" novalidate="novalidate">
      <input type="hidden" name="id">
      <div>
        <label>Service Code</label>
        <input name="serviceCode" type="text" value="KH-1234"/>
      </div>
      <div>
        <label>Service Name</label>
        <input name="serviceName" type="text" value="White House"/>
      </div>
      <div>
        <label>Service Area</label>
        <input name="serviceArea" type="text" value="200"/>
      </div>
      <div>
        <label>Service Cost</label>
        <input name="serviceCost" type="text" value="1000">
      </div>
      <div>
        <label>Service Max People</label>
        <input type="text" name="serviceMaxPeople" value="10">
      </div>
      <div>
        <label>Service Standard Room</label>
        <input type="text" name="standardRoom" value="5*">
      </div>
      <div>
        <label>Service Description other Convenience</label>
        <input type="text" name="descriptionOtherConvenience" value="Pool, Park">
      </div>
      <div>
        <label >Pool Area</label>
        <input type="text" name="poolArea" value="50">
      </div>
      <div>
        <label >Service Number of Floor</label>
        <input type="text" name="numberOfFloors" value="2">
      </div>
      <br>
      <div>
        <label>Service Rent Type</label>
        <select name="rentTypes" >
          <option value="year">Year</option>
          <option value="month">Month</option>
          <option value="day" selected>Day</option>
          <option value="hour">Hour</option>
        </select>
      </div>
      <br>
      <div>
        <label>Service Type</label>
        <select name="serviceType">
          <option value="villa">Villa</option>
          <option value="house" selected>House</option>
          <option value="room">Room</option>
        </select>
      </div>
      <br>
      <div class="button-submit__group">
        <input class="button-submit" type="submit" value="Save"/>
        <a class="button-cancel" href="#">Cancel</a>
      </div>
    </form>
  </div>
</div>
