<!--Slider-->
<section class="slider">
  <div class="container">
    <div class="slider-content">
      <div class="slider-content-left">
        <div class="slider-content-left-top-container">
          <div class="slider-content-left-top">
            <a href="#"> <img src="assets/img/slider1.png" alt=""/></a>
            <a href="#"> <img src="assets/img/slider2.png" alt=""/></a>
            <a href="#"> <img src="assets/img/slider3.png" alt=""/></a>
          </div>
          <div class="slider-content-left-top-btn">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
        <div class="slider-content-left-bottom">
          <li class="active">VIVO T1X - Mở bán giá sốc</li>
          <li>MACBOOK AIR M11 - Giá siêu ngon</li>
          <li>GALAXY ZFLIP3 - Flex your way</li>
        </div>
      </div>
      <div class="slider-content-right">
        <li><a href="#"><img src="assets/img/img1.png" alt=""></a></li>
        <li><a href="#"><img src="assets/img/img2.png" alt=""></a></li>
      </div>
    </div>
  </div>
</section>
<!--Category-->
<section class="category">
  <div class="container">
    <div class="category-items">
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-dien-thoai.webp" alt="">
        </div>
        <p class="category-item-title">Điện thoại</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-lap-top.webp" alt="">
        </div>
        <p class="category-item-title">Laptop</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-pc.webp" alt="">
        </div>
        <p class="category-item-title">PC - Lắp ráp</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-tablet.webp" alt="">
        </div>
        <p class="category-item-title">Máy tính bảng</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-thiet-bi-thong-minh.webp" alt="">
        </div>
        <p class="category-item-title">Thiết bị thông minh</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-apple.webp" alt="">
        </div>
        <p class="category-item-title">Apple</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-samsung.webp" alt="">
        </div>
        <p class="category-item-title">Samsung</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-smartwatch.webp" alt="">
        </div>
        <p class="category-item-title">Đồng hồ thông minh</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-watch.webp" alt="">
        </div>
        <p class="category-item-title">Đồng hồ thời trang</p>

      </div>
      <div class="category-item">
        <div class="category-item-picture">
          <img src="assets/img/category-houseware.webp" alt="">
        </div>
        <p class="category-item-title">Gia dụng</p>

      </div>
    </div>
  </div>
</section>
<!--Banner-->
<section class="banner-one">
  <div class="container">
    <img src="assets/img/banner3.jpg" alt="">
  </div>
</section>
<!--Slider Product-->
<section class="slider-product-one">
  <div class="container">
    <div class="slider-product-one-content">
      <div class="slider-product-one-content-title">
        <h2>Điện thoại nổi bật nhất</h2>
      </div>
      <div class="slider-product-one-content-container">
        <div class="slider-product-one-content-items-content">
          <div class="slider-product-one-content-items">
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
          </div>
          <div class="slider-product-one-content-items">
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
          </div>
          <div class="slider-product-one-content-items">
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
            <div class="slider-product-one-content-item">
              <img src="assets/img/phone-ip13.jpg" alt="">
              <div class="slider-product-one-content-item-text">
                <li><img src="assets/img/icon-fire.png" alt="">
                  <p>Trợ giá mùa dịch</p></li>
                <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
                <li>28.590.000 <sup>đ</sup></li>
                <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
                <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
                <li>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  127 đánh giá
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-product-one-content-btn">
          <i class="fas fa-chevron-left fa-chevron-left-two"></i>
          <i class="fas fa-chevron-right fa-chevron-right-two"></i>
        </div>
      </div>

    </div>

  </div>
</section>
<!--Product Gallery-->
<section class="product-gallery-one">
  <div class="container">
    <div class="product-gallery-one-content">
      <div class="product-gallery-one-content-title">
        <h2>ĐIỆN THOẠI BÁN CHẠY</h2>
        <ul>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">Iphone</a></li>
          <li><a href="#">Oppo</a></li>
          <li><a href="#">Xem tất cả</a></li>
        </ul>
      </div>
      <div class="product-gallery-one-content-product">
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
        <div class="product-gallery-one-content-product-item">
          <img src="assets/img/phone1.jpg" alt="">
          <div class="product-gallery-one-content-product-item-text">
            <li><img src="assets/img/icon-fire.png" alt="">
              <p>Trợ giá mùa dịch</p></li>
            <li>iPhone 13 Pro 128GB Chính hãng (VN/A)</li>
            <li>28.590.000 <sup>đ</sup></li>
            <li><a>33.990.000 <sup>đ</sup></a><span> -6%</span></li>
            <li>Giảm 440.000 <sup>đ</sup> khi thanh toán qua Moca</li>
            <li>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              127 đánh giá
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
</section>
