<app-header [title]="title"></app-header>
<div class="container-lg" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="editCustomerForm" id="createFormVilla">
          <input type="hidden" name="id" formControlName="id">
          <div class="form-group">
            <label for="serviceCodeCreateVilla">Customer code</label>
            <input type="text" class="form-control" id="serviceCodeCreateVilla"
                   placeholder="Type new customer code here" formControlName="customerCode">
            <div
              *ngIf="editCustomerForm.controls.customerCode.invalid && (editCustomerForm.controls.customerCode.dirty || editCustomerForm.controls.customerCode.touched) || editCustomerForm.controls.customerCode.errors?.empty">
              <span *ngIf="editCustomerForm.controls.customerCode.hasError('pattern')" style="color: red">Wrong format, ex: KH-0123</span>
              <span *ngIf="editCustomerForm.controls.customerCode.hasError('required') || editCustomerForm.controls.customerCode.errors.empty" style="color: red">Empty! Input please!</span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="serviceNameCreateVilla">Customer name</label>
                <input type="text" class="form-control" placeholder="Type new customer name here"
                       id="serviceNameCreateVilla" formControlName="customerName">
                <div
                  *ngIf="editCustomerForm.controls.customerName.invalid && (editCustomerForm.controls.customerName.dirty || editCustomerForm.controls.customerName.touched) || editCustomerForm.controls.customerName.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerName.errors.required || editCustomerForm.controls.customerName.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>

            </div>



            <div class="col-sm-6">
              <div class="form-group">
                <label for="serviceAreaCreateVilla">Select customers birthday</label>
                <input type="date" class="form-control" id="serviceAreaCreateVilla" formControlName="customerBirthday">
                <div
                  *ngIf="editCustomerForm.controls.customerBirthday.invalid && (editCustomerForm.controls.customerBirthday.dirty || editCustomerForm.controls.customerBirthday.touched) || editCustomerForm.controls.customerBirthday.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerBirthday.errors.required || editCustomerForm.controls.customerBirthday.errors.empty" style="color: red">Please choose a date!</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Select customer gender:</label><br>
                <input type="radio" id="female" value='0' formControlName="customerGender" style="margin: 10px;">
                <label for="female" style="margin-bottom: 1px;">Female</label><br>
                <input type="radio" id="male" value='1' formControlName="customerGender" style="margin: 10px;">
                <label for="male">Male</label>
                <div
                  *ngIf="editCustomerForm.controls.customerGender.invalid && (editCustomerForm.controls.customerGender.dirty || editCustomerForm.controls.customerGender.touched) || editCustomerForm.controls.customerBirthday.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerGender.errors?.required || editCustomerForm.controls.customerGender.errors?.empty" style="color: red">Please choose customer gender!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="idCard">Id Card Number:</label>
                <input type="text" class="form-control"
                       placeholder="Type new customer ID Card number here" id="idCard" formControlName="customerIdCard">
                <div
                  *ngIf="editCustomerForm.controls.customerIdCard.invalid && (editCustomerForm.controls.customerIdCard.dirty || editCustomerForm.controls.customerIdCard.touched) || editCustomerForm.controls.customerIdCard.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerIdCard.errors.pattern" style="color: red">Wrong format, ex: KH-0123</span>
                  <span *ngIf="editCustomerForm.controls.customerIdCard.errors.required || editCustomerForm.controls.customerIdCard.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="rentTypeCreateVilla">Phone:</label>
                <input type="text" class="form-control" id="rentTypeCreateVilla"
                       placeholder="Type new customer phone here" formControlName="customerPhone">
                <div
                  *ngIf="editCustomerForm.controls.customerPhone.invalid && (editCustomerForm.controls.customerPhone.dirty || editCustomerForm.controls.customerPhone.touched) || editCustomerForm.controls.customerPhone.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerPhone.errors.pattern" style="color: red">Wrong format, ex: 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx</span>
                  <span *ngIf="editCustomerForm.controls.customerPhone.errors.required || editCustomerForm.controls.customerPhone.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control" placeholder="Type new customer email here"
                       formControlName="customerEmail">
                <div
                  *ngIf="editCustomerForm.controls.customerEmail.invalid && (editCustomerForm.controls.customerEmail.dirty || editCustomerForm.controls.customerEmail.touched) || editCustomerForm.controls.customerEmail.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerEmail.errors.email" style="color: red">Wrong format, ex: abc@gmail.com</span>
                  <span *ngIf="editCustomerForm.controls.customerEmail.errors.required || editCustomerForm.controls.customerEmail.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="standardRoomCreateVilla">Address:</label>
                <input type="text" class="form-control" id="standardRoomCreateVilla"
                       placeholder="Type new customer address here" formControlName="customerAddress">
                <div
                  *ngIf="editCustomerForm.controls.customerAddress.invalid && (editCustomerForm.controls.customerAddress.dirty || editCustomerForm.controls.customerAddress.touched) || editCustomerForm.controls.customerAddress.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerAddress.errors.required || editCustomerForm.controls.customerAddress.errors.empty" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="typeId">Choose customer type:</label>
                <select id="typeId" class="form-control" formControlName="customerTypeId">
                  <option value="5" selected>Member</option>
                  <option value="4">Silver</option>
                  <option value="3">Gold</option>
                  <option value="2">Platinum</option>
                  <option value="1">Diamond</option>
                </select>
                <div
                  *ngIf="editCustomerForm.controls.customerTypeId.invalid && (editCustomerForm.controls.customerTypeId.dirty || editCustomerForm.controls.customerTypeId.touched) || editCustomerForm.controls.customerTypeId.errors?.empty">
                  <span *ngIf="editCustomerForm.controls.customerTypeId.errors.required || editCustomerForm.controls.customerTypeId.errors.empty" style="color: red">Please choose customer type!!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="submit-form">
            <div class="text-center submit-block">
              <button type="submit" class="button-gradient button-gradient-1" style="border: none;">
                Save
              </button>
              <a [routerLink]="['/customer/list']" class="button-gradient button-gradient-5" style="border: none;">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
