<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header-top"><a class="header-logo" [routerLink]="['']">ChienLV</a>
        <ul class="header-menu">
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['']">Home</a></li>
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['/facility/list']">List</a></li>
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['/customer/list']">Create</a></li>
          <li class="header-menu-item"><a class="header-menu-link" [routerLink]="['']">Blog</a></li>
          <li class="header-menu-item"><a class="header-menu-icon" href="#"><i class="fa fa-shopping-cart"></i></a></li>
          <li class="header-menu-item"><a class="header-menu-icon" href="#"><i class="fa fa-search"></i></a></li>
        </ul>
      </div>
      <div class="header-content">
        <h2 class="header-content-caption">Hello Everybody</h2>
        <h1 class="header-content-main">Welcome to home</h1>
      </div>
    </div>
  </header>
