<app-header [title]="title"></app-header>

<div id="main-container">
  <!--  Title-->
  <div style="display: flex; justify-content: space-between; align-items: center">
    <!--    Create-->
    <a [routerLink]="['/create']" class="button-gradient button-gradient-4" style="border: none;">Thêm mới</a>
    <!--      <a (click)="deleteMultiple()" class="button-gradient button-gradient-4" style="border: none;">Delete</a>-->
    <!--    <button type="button" class="button-gradient button-gradient-4" style="border: none;" data-toggle="modal"-->
    <!--            data-target="#staticBackdrop">-->
    <!--      Deletes-->
    <!--    </button>-->
<!--    Search-->
    <div style="margin-right: 30px; display: flex; align-items: center">
      <!--      &lt;!&ndash;        <input type="text" class="form-control" id="search" name="name" [(ngModel)]="nameSearch" (ngModelChange)="search()"&ndash;&gt;-->
      <!--      &lt;!&ndash;               placeholder="Enter name to search">&ndash;&gt;-->
      <input type="text" class="form-control" name="search" [(ngModel)]="dienTich" (ngModelChange)="getAll()"
             placeholder="Nhập diện tích">
      <input type="text" class="form-control" name="search" [(ngModel)]="gia" (ngModelChange)="getAll()"
             placeholder="Nhập giá">
      <input type="text" class="form-control" name="search" [(ngModel)]="huong" (ngModelChange)="getAll()"
             placeholder="Nhập hướng">
      <!--      <input type="text" class="form-control" name="search" [(ngModel)]="priceSearch" (ngModelChange)="getAllProduct()"-->
      <!--             placeholder="Enter price to search">-->
            <label><i class="fa fa-search" style="margin-left: 10px"></i></label>
    </div>
  </div>
  <!--  Table-->
  <div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <!--        <th></th>-->
        <th>No.</th>
        <th>Tiêu đề</th>
        <th>Loại bài viết</th>
        <th>Danh Mục</th>
        <th>Diện tích</th>
        <th>Giá</th>
        <th>Hướng</th>
        <th>Vùng miền</th>
        <th>Trạng thái</th>
        <th>Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <!--      Số trang-->
      <!--      <tr *ngFor="let customer of customers | paginate : {itemsPerPage : 2 , currentPage :p}; index as i">-->
      <tr *ngFor="let batDongSan of batDongSans; index as i">
        <!--        <td>-->
        <!--          <input type="checkbox" [value]="batDongSan.id">-->
        <!--        </td>-->
        <td>{{i + 1}}</td>
        <td>{{batDongSan.tuaDe}}</td>
        <td>{{batDongSan.dangTin}}</td>
        <td>{{batDongSan.danhMuc.ten}}</td>
        <td>{{batDongSan.dienTich}}</td>
        <td>{{batDongSan.gia}}</td>
        <td>{{batDongSan.huong}}</td>
        <td>{{batDongSan.vungMien}}</td>
        <td>{{batDongSan.tinhTrang}}</td>
        <td colspan="2" style="display: flex">
          <a [routerLink]="['/list']" style="color: #4bc8c6"><i
            class="fas fa-edit"></i></a>
          <!--          Button xóa model-->
          <!--          <a (click)="onOpenEditModal(product)" style="color: rgb(215, 100, 98);"><i-->
          <a [routerLink]="['/list']" style="color: rgb(215, 100, 98); margin-left: 20px"><i
            class="fa-solid fa-trash-can"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <!--        Paging-->
    <!--    <div style="display: flex; justify-content: flex-end">-->
    <!--      <pagination-controls (pageChange)="p=$event"></pagination-controls>-->
    <!--    </div>-->
  </div>
</div>

<!--Modal Xóa 1 trường -->
<!--<div-->
<!--  class="modal fade"-->
<!--  id="deleteModal"-->
<!--  data-backdrop="static"-->
<!--  data-keyboard="false"-->
<!--  tabindex="-1"-->
<!--  aria-labelledby="staticBackdropLabel"-->
<!--  aria-hidden="true"-->
<!--&gt;-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="staticBackdropLabel">Xóa sản phẩm </h5>-->
<!--        <button style="border: none; background-color: transparent" type="button" class="btn-close"-->
<!--                data-dismiss="modal" aria-label="Close">X-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body" id="customer_delete">-->
<!--        <div class="modal-body">-->
<!--          <div *ngIf="check">-->
<!--            <p>Bạn có muốn xóa sản phẩm : {{deleteProduct.name}}</p> <br>-->
<!--            <p>Sản phẩm có màu : {{deleteProduct.color.name}}</p> <br>-->
<!--            <p>Sản phẩm loại : {{deleteProduct.category.name}}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>-->
<!--        &lt;!&ndash;            <button (click)="delete(closeModal)" type="button" class="btn btn-danger" id="delete_customer_id">Xóa</button>&ndash;&gt;-->
<!--        <button (click)="delete(closeModal)" type="button" class="btn btn-danger" id="delete_customer_id">Xóa</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Modal xóa nhiều trường -->
<!--<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"-->
<!--     aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="staticBackdropLabels">Modal title</h5>-->
<!--        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Bạn có chắc chắn muốn xóa nhiều sản phẩm không?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button #Close type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button (click)="deleteMulti(Close)" type="button" class="btn btn-primary">Delete</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
