<!--&lt;!&ndash;<div class="body">&ndash;&gt;-->
<!--  <div class="container" style="margin-top: 20px">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/723995/723995/DSC_0693.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Garden Superior</span>-->
<!--            <p class="room-name">Room size 40m² - King / Twin bed</p>-->
<!--            <p><span class="discount-price">V5,259,052.02</span> 3,640,882.17</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724002/724002/DSC_0780.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Lagoon Superior</span>-->
<!--            <p class="room-name">Room size 40m² - King / Twin bed</p>-->
<!--            <p><span class="discount-price">VND 5,764,730.1</span> VND 3,944,289.01</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724012/724012/Ocean_Studio_Suite_-_Overall.JPG?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Ocean Studio Suite</span>-->
<!--            <p class="room-name">Room size 43m² - King / Twin bed</p>-->
<!--            <p><span class="discount-price">VND 7,079,493.1</span> VND 6,091,498.62</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://furamavietnam.com/wp-content/uploads/2018/03/%5E224942630D3A5A787C2989A9F5AF4A3E34E6A8CAE8D94FA3D4%5Epimgpsh_fullsize_distr.jpg">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Ocean Suite</span>-->
<!--            <p class="room-name">Room size 85.8m² - One King Bed</p>-->
<!--            <p><span class="discount-price">VND 21,845,292.99</span> VND 13,107,175.79</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724012/724012/Ocean_Studio_Suite_-_Overall.JPG?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Ocean Studio Suite</span>-->
<!--            <p class="room-name">Room size 43m² - King / Twin bed</p>-->
<!--            <p><span class="discount-price">VND 7,079,493.1</span> VND 6,091,498.62</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722792/722792/133461237.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Bedroom Presidential Suite</span>-->
<!--            <p class="room-name">130m² - King bed</p>-->
<!--            <p><span class="discount-price">VND 30,340,684.71</span> VND 15,291,705.1</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722797/722797/160407105.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Family Room</span>-->
<!--            <p class="room-name">80m² - King bed</p>-->
<!--            <p><span class="discount-price">VND 12,136,273.88</span> VND 9,102,205.41</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722812/722812/64251912.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Bedroom Pool Villa</span>-->
<!--            <p class="room-name">330m² - King bed</p>-->
<!--            <p><span class="discount-price">VND 10,113,561.57</span> VND 7,079,493.1</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="card">-->
<!--          <div class="card-image">-->
<!--            <img class="img-responsive"-->
<!--                 src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/751728/751728/Diamond_Pool.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55">-->
<!--          </div>-->
<!--          <div class="card-content">-->
<!--            <span class="card-title">Bedroom Beach Front Villa</span>-->
<!--            <p class="room-name">900m² - King / Twin bed</p>-->
<!--            <p><span class="discount-price">VND 45,476,958.59</span> VND 42,476,958.59</p>-->
<!--          </div>-->
<!--          <div class="card-action d-flex">-->
<!--            <button type="button" class="btn btn-info">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-3 mt-4">-->
<!--      <button mdbBtn mdbWavesEffect gradient="aqua">Create new Facility</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-4 mt-4" *ngFor="let fac of facilities">-->
<!--      &lt;!&ndash; Card &ndash;&gt;-->
<!--      <mdb-card>-->
<!--        <div class="view rgba-white-slight waves-light" mdbWavesEffect>-->
<!--          &lt;!&ndash; Card img &ndash;&gt;-->
<!--          <mdb-card-img [src]="fac.image" alt="Card image cap"></mdb-card-img>-->
<!--          <a>-->
<!--            <div class="mask"></div>-->
<!--          </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;Card content&ndash;&gt;-->
<!--        <mdb-card-body>-->
<!--          <div class="row d-flex flex-column">-->
<!--            <div class="text-center">-->
<!--              &lt;!&ndash;Title&ndash;&gt;-->
<!--              <mdb-card-title>-->
<!--                <h4 class="cyan-text">{{fac.name}}</h4>-->
<!--              </mdb-card-title>-->
<!--              &lt;!&ndash;Text&ndash;&gt;-->
<!--              <mdb-card-text>Room standard : {{fac.standardRoom}}</mdb-card-text>-->
<!--              <mdb-card-text>Area : {{fac.area}}</mdb-card-text>-->
<!--            </div>-->

<!--            <a mdbBtn gradient="blue" mdbWavesEffect>Edit</a>-->
<!--          </div>-->
<!--        </mdb-card-body>-->
<!--      </mdb-card>-->
<!--      &lt;!&ndash; Card &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;Pagination&ndash;&gt;-->
<!--  <div class="container">-->
<!--    <div class="row " style="display: flex;justify-content: center">-->
<!--      <nav class="mt-5" aria-label="...">-->
<!--        <ul class="pagination">-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">Previous</a>-->
<!--          </li>-->
<!--          <li class="page-item active" aria-current="page">-->
<!--            <span class="page-link">1</span>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">2</a>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">Next</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->

<div class="create-div">
  <button class="create-btn">Create Services</button>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let facility of facilities; index as i">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive"
                 src="{{facility.serviceImage}}">
          </div>
          <div class="card-content">
            <span class="card-title">{{facility.serviceName}}</span>
            <p class="room-name">Room size {{facility.serviceArea}}m² - {{facility.descriptionOtherConvenience}}</p>
            <p><span class="discount-price">VND {{facility.serviceCost}}</span> VND {{facility.serviceCost * 0.8}}</p>
          </div>
          <div class="card-action d-flex">
            <button type="button" class="btn btn-info">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
